*{
    background-color: black;
}

#federer{
    height: 400px;
    width: 400px;
}

#dhoni{
    height: 400px;
    width: 400px;
}

#guna{
    height: 400px;
    width: 400px;
}

#ratan{
    height: 400px;
    width: 400px;
}

#sundar{
    height: 400px;
    width: 400px;
}

#musk{
    height: 400px;
    width: 400px;
}

#vin{
    height: 400px;
    width: 400px;
}

#tom{
    height: 400px;
    width: 400px;
}

#arr{
    height: 400px;
    width: 400px;
}